
.event-item {
  border: none;
}
.carousel {
  margin-top: 100px;
}
.carousel-control-next, .carousel-control-prev {
  // background-color: #c4c4c4;
  color: gray !important;
  width: 40px;
}
.card {
  border: none;
}